ASP.NET CORE/AlumnosEntityFrameworkTresCapas/CapaNegocio/Connected Services/ServiceReferenceWfcAlumnos/WCFAlumnos.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="WCFAlumnos" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:52708/WCFAlumnos.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:52708/WCFAlumnos.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:52708/WCFAlumnos.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFAlumnos" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWCFAlumnos_CalcularIsr_InputMessage">
    <wsdl:part name="parameters" element="tns:CalcularIsr" />
  </wsdl:message>
  <wsdl:message name="IWCFAlumnos_CalcularIsr_OutputMessage">
    <wsdl:part name="parameters" element="tns:CalcularIsrResponse" />
  </wsdl:message>
  <wsdl:message name="IWCFAlumnos_CalcularImss_InputMessage">
    <wsdl:part name="parameters" element="tns:CalcularImss" />
  </wsdl:message>
  <wsdl:message name="IWCFAlumnos_CalcularImss_OutputMessage">
    <wsdl:part name="parameters" element="tns:CalcularImssResponse" />
  </wsdl:message>
  <wsdl:portType name="IWCFAlumnos">
    <wsdl:operation name="CalcularIsr">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFAlumnos/CalcularIsr" message="tns:IWCFAlumnos_CalcularIsr_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFAlumnos/CalcularIsrResponse" message="tns:IWCFAlumnos_CalcularIsr_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CalcularImss">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFAlumnos/CalcularImss" message="tns:IWCFAlumnos_CalcularImss_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFAlumnos/CalcularImssResponse" message="tns:IWCFAlumnos_CalcularImss_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IWCFAlumnos" type="tns:IWCFAlumnos">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CalcularIsr">
      <soap:operation soapAction="http://tempuri.org/IWCFAlumnos/CalcularIsr" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CalcularImss">
      <soap:operation soapAction="http://tempuri.org/IWCFAlumnos/CalcularImss" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WCFAlumnos">
    <wsdl:port name="BasicHttpBinding_IWCFAlumnos" binding="tns:BasicHttpBinding_IWCFAlumnos">
      <soap:address location="http://localhost:52708/WCFAlumnos.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>