ASP.NET CORE/AlumnosEntityFrameworkTresCapas/CapaNegocio/Connected Services/ServiceReferenceWsfAlumnos/WCFAlumnos.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCFAlumnos" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFAlumnos" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ItemTablaIsr">
    <xs:sequence>
      <xs:element minOccurs="0" name="cuotaFija" type="xs:decimal" />
      <xs:element minOccurs="0" name="excedente" type="xs:decimal" />
      <xs:element minOccurs="0" name="isr" type="xs:decimal" />
      <xs:element minOccurs="0" name="limiteInferior" type="xs:decimal" />
      <xs:element minOccurs="0" name="limiteSuperior" type="xs:decimal" />
      <xs:element minOccurs="0" name="subsidio" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ItemTablaIsr" nillable="true" type="tns:ItemTablaIsr" />
  <xs:complexType name="AportacionesImss">
    <xs:sequence>
      <xs:element minOccurs="0" name="cesantía" type="xs:decimal" />
      <xs:element minOccurs="0" name="enfermedadMaternidad" type="xs:decimal" />
      <xs:element minOccurs="0" name="infonavit" type="xs:decimal" />
      <xs:element minOccurs="0" name="invalidezVida" type="xs:decimal" />
      <xs:element minOccurs="0" name="retiro" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AportacionesImss" nillable="true" type="tns:AportacionesImss" />
</xs:schema>