ASP.NET CORE/AlumnosEntityFrameworkTresCapas/CapaNegocio/Connected Services/ServiceReferenceWsfAlumnos/WCFAlumnos1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:52708/WCFAlumnos.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFAlumnos" />
  <xs:element name="CalcularIsr">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CalcularIsrResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCFAlumnos" minOccurs="0" name="CalcularIsrResult" nillable="true" type="q1:ItemTablaIsr" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CalcularImss">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CalcularImssResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCFAlumnos" minOccurs="0" name="CalcularImssResult" nillable="true" type="q2:AportacionesImss" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>